.login-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../media/Untitled-2\ \(2\).png') no-repeat center center fixed; /* Corrected file path */
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
  
    padding: 30px;
    border-radius: 8px;
   
    text-align: center;
    width: 350px;
}

.login-form h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #21e051;
}

.login-form p {
    margin-bottom: 20px;
    color: #39c918;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.reset-password-link {
    color: #007bff;
    text-decoration: none;
}

.reset-password-link:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #218838;
}

.create-account {
    margin-top: 20px;
    font-size: 14px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
